
@using Microsoft.AspNetCore.Identity
@using Reward_Backoffice.Areas.Identity.Data

@inject SignInManager<Reward_BackofficeUser> SignInManager
@inject UserManager<Reward_BackofficeUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Reward Backoffice</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/sidebar.css" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom:0">
            <div class="navbar-header" style="padding: 0">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/uobkh_logo.png" />
                </a>
            </div>
            <partial name="_LoginPartial.cshtml" />
        </nav>


        @if (SignInManager.IsSignedIn(User))
        {
                 <partial name="Sidebar.cshtml" />
        }

        <!---->
        <div class="page-content" style="margin-left:10%; margin-right:5%">
            @*<main role="main" class="pb-3 w-auto">*@
            @RenderBody()
            @*</main>*@
        </div>
    </div>
      

        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)

</body>
</html>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" hidden>
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Reward_Backoffice</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="ApplicationType" asp-action="Index">Application Type</a>
                    </li>
                    <!--  <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="DealersManagement" asp-action="Index">Dealer Management</a>
                    </li>-->
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dealer
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                            <a class="dropdown-item" asp-area="" asp-controller="DealersManagement" asp-action="Index">View Dealer</a>

                            <!-- <a class="dropdown-item" href="#">Another action</a>

                            <a class="dropdown-item" href="#">Something else here</a> -->

                        </div>
                    </li>
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Client
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                            <a class="dropdown-item" asp-area="" asp-controller="DealersManagement" asp-action="Index">Client Tier Manager</a>
                            <a class="dropdown-item" asp-area="" asp-controller="DealersManagement" asp-action="Index">Client Manager</a>
                            <a class="dropdown-item" asp-area="" asp-controller="DealersManagement" asp-action="Index">Client Access Control</a>



                        </div>
                    </li>
                    <!--<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>-->
                </ul>
            </div>

        }
        <partial name="_LoginPartial.cshtml" />
    </div>
</nav> 

