
#menu {
    height: 100%;
    background-color: #26394E;
    width: 350px;
    transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateX(-100%);
    left: 60px;
    position: absolute;
    z-index: 2;
    overflow-x: hidden;
    border-radius: 10px;
}
::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

    #menu.expanded {
        transform: translateX(0%);
        left: 0px;        
    }

.menu-inner {
    width: 100%;
    height: auto;
    position: absolute;
}
    .menu-inner a:link {
        text-decoration: none;
    }
    /* A link that has been visited */
    .menu-inner a:visited {
        color: #fff;
        text-decoration: none;
    }
    /* A link that is hovered on */
    .menu-inner a:hover {
        text-decoration: none;
    }
    /* A link that is selected */
    .menu-inner a:active {
        text-decoration: none;
    }

#blob {
    top: 0;
    z-index: -1;
    right: 60px;
    transform: translateX(100%);
    height: 100%;
    position: absolute;
}

#blob-path {
    height: 100%;
    fill: #26394E;
}

.hamburger {
    right: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: -10px;
}

    .hamburger .line {
        width: 100%;
        height: 4px;
        background-color: #fff;
        position: absolute;
    }

        .hamburger .line:nth-child(2) {
            top: 50%;
            margin-top: -2px;
        }

        .hamburger .line:nth-child(3) {
            bottom: 0;
        }



ul {
    padding: 0;
    list-style: none;
    width: 90%;
    margin-left: 2%;
    position: absolute;
    top: 10px;
    
}

    ul li {
        color: #fff;
        font-family: sans-serif;
        padding-top: 30px;
        
    }
        ul li a {
            font-size: 17px;
            position: relative;
            padding-left: 115px;
            display: block;
            width: 85%;
            padding: 5px;
            font-weight: bold;
        }
            ul li a span {
                position: absolute;
                right: 0px;
                font-size: 22px;
                display: inline-block;
            }
            ul li a:focus span {
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                transform: rotate(-90deg);
                -webkit-transition: all 2s ease;
                -moz-transition: all 2s ease;
                -o-transition: all 2s ease;
                transition: all 2s ease;
            }
            ul li a:hover {
                text-decoration: none;
                border-radius: 5px;
                color: #fff;
                box-shadow: 5px 5px 15px #fff inset;
                font-family: sans-serif;
            }
          
           

    ul ul {
        position: static;
        display: none;
        
    }
    ul ul li{
        line-height:18px;
        border-bottom:none;
    }
        ul ul li a {
            text-decoration: none;
            display: block;
            font-size: 15px;
            color: #e6e6e6;
            padding-left: 5%;
            font-weight: normal;
        }
            ul ul li a span {
                position: relative;
                font-size: 15px;
                padding-left: 5px;                
                
            }
            ul ul li a:focus span {
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                transform: rotate(90deg);
                -webkit-transition: all 2s ease;
                -moz-transition: all 2s ease;
                -o-transition: all 2s ease;
                transition: all 2s ease;
            }
       


ul ul ul li {
    line-height: 18px;
    border-bottom: none;
}
    ul ul ul li a {
        text-decoration: none;
        display: block;
        font-size: 15px;
        color: #e6e6e6;
        padding-left: 10%;
        font-weight: normal;
    }
        ul ul ul li a span {
            position: relative;
            padding-left: 10px;
            font-size: 13px;
        }
        ul ul ul li a:hover {
            text-decoration: none;          
            padding-left: 8%;           
        }
        ul ul ul li a:focus span {
            transform: none;
        }
